@inherits Custom.Hybrid.Razor14
@{
  var title = DynamicModel.Title;
  // var tlb = DynamicModel.Toolbar;
  var tlb = TypedModel.Toolbar("Toolbar");
}
<li>
  @title @tlb.AsTag()
  <br>
  @tlb.AsJson()
</li>