@inherits Custom.Hybrid.RazorTyped
@{
  var title = MyModel.String("Title");
  // var tlb = DynamicModel.Toolbar;
  var tlb = MyModel.Toolbar("Toolbar");
}
<li>
  @title @tlb.AsTag()
  <br>
  @tlb.AsJson()
</li>