@inherits Custom.Hybrid.Razor14

<h1>IEntity Error</h1>
<p>
  For scenarios that trigger the old use of IEntity on the wrong namespace.
</p>
@{
  var x = AsEntity(Content);
  var title = x.PrimaryValue<string>("Title");
}
Title: Error @title
