@inherits Custom.Hybrid.Razor14

<h1>Toolbar Service - Buttons</h1>
<p>
  Show various cases where a toolbar service is just to-HTMLed
</p>
@{
  var tlb = Kit.Toolbar.Default(Content)
    .Button("delete", ui: "show=true")
    .Button("-layout")
    .Button("+code")
    .Button("code", operation: "auto");

}

<ol>
  <li>
    @tlb <strong @tlb>on this tag</strong> </li>
  <li>
    mode tag: @tlb.AsTag()
  </li>
  <li>
    mode json / debug: @tlb.AsJson()
  </li>
</ol>
