@inherits Custom.Hybrid.Razor14

<h1>Toolbar Service - HTML</h1>
<p>
  Show various cases where a toolbar service is just to-HTMLed
</p>
@{
  var tlb = Kit.Toolbar.Default().Metadata(CmsContext.Page).Settings(classes: "test-from-test");
  var tlbHtml = tlb.AsTag();
  var tlbJson = tlb.AsJson();

  var item = AsDynamic(App.Data["ToolbarTest"].First());
  var tlbItm = Kit.Toolbar.Default(item);
  var tlbIH = tlbItm.AsTag();
  var tlbIJ = tlbItm.AsJson();
}

<h2>Show Strings and toolbars</h2>
<ol>
  <li>
    @tlb <strong @tlb>on this tag</strong>
  </li>
  <li>
    mode tag: @tlbHtml
  </li>
  <li>
    mode json: @tlbJson
  </li>
</ol>


<h2>Show toolbars for an Item</h2>
<ol>
  <li>
    @tlbItm <strong @tlbItm>on this tag</strong>
  </li>
  <li>
    mode tag: @tlbIH
  </li>
  <li>
    mode json: @tlbIJ
  </li>
</ol>


