@inherits Custom.Hybrid.Razor14

<h1>Toolbar Service - HTML</h1>
<p>
  Show various cases where a toolbar service is just to-HTMLed
</p>
@{
  var tlb = Kit.Toolbar.Default()
    .Metadata(CmsContext.Page, parameters: new { prefill = new { title = "daniel"} })
    .Settings(classes: "test-from-test", ui: new { v1 = 27 })
    .Target(Content);

  var tlbHtml = tlb.AsTag();
  var tlbJson = tlb.AsJson();
}

<ol>
  <li>
    @tlb <strong @tlb>on this tag</strong> </li>
  <li>
    mode tag: @tlbHtml
  </li>
  <li>
    mode json / debug: @tlbJson
  </li>
</ol>
