@inherits Custom.Hybrid.RazorTyped

<h1>Toolbar Service - Audience Action - new/wip 17.08</h1>
<p>
  Force show the Toolbar for everyone?
</p>
@{
  var forAll = Kit.Toolbar.Empty().Audience(everyone: true);
  var forAdmin = Kit.Toolbar.Empty();
}
<h2>infos</h2>
<ol>
  <li>
    <strong>Default - for admin only</strong>
    @{
      var tlbInfo = forAdmin.Info(tweak: b => b.Note(AllResources.String("Toolbar.IsDemoSubItem"), background: "yellow"));
    }
    Show as tag: @tlbInfo.AsTag()
    <br>
    @tlbInfo.AsJson()
  </li>
  <li>
    <strong>For all</strong>
    @{ tlbInfo = forAll.Info(); }
    Show as tag: @tlbInfo.AsTag()
    <br>
    @tlbInfo.AsJson()
  </li>

</ol>
