@inherits Custom.Hybrid.RazorTyped
@using AppCode.TestHelpers

<h1>Toolbar Service - UI and Icons</h1>

@{
  var tlbTest = GetService<ToolbarTestHelper>();
}

<ol>
  @tlbTest.TbTestAsTag("Page Metadata and Content",
    Kit.Toolbar.Default()
      .Metadata(MyPage)
      .For(MyItem)
  )

  @tlbTest.TbTestAsTag("Empty - for TestToolbarIcons",
    Kit.Toolbar.Empty()
      .Metadata(MyPage)
  )
</ol>
