@inherits Custom.Hybrid.Razor14

<h1>Toolbar Service - UI and Prefill</h1>
<p>
  Show various cases where a toolbar service is just to-HTMLed
</p>
@{
  var tlbTest = CreateInstance("ToolbarServiceTests.cs");


  var tlb = Kit.Toolbar.Default()
    .Metadata(CmsContext.Page, parameters: new { prefill = new { title = "daniel"} })
    .Settings(classes: "test-from-test", ui: new { V1 = 27, test = "should-be-changed" })
    .For(Content);
}

<ol>
  @tlbTest.TbTestAsTag("UI and Prefill example",
    Kit.Toolbar.Default()
    .Metadata(CmsContext.Page, parameters: new { prefill = new { title = "daniel"} })
    .Settings(classes: "test-from-test", ui: new { V1 = 27, test = "should-be-changed" })
    .For(Content))

</ol>
