@inherits Custom.Hybrid.Razor14

<h1>Razor14 Errors with Guidance</h1>
<p>
  Pick from the list below.
</p>

<div class="alert alert-warning">
  Remember to set the base class in the breadcrumb to match this, to get the correct experience.
</div>