@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Data;
@using ToSic.Sxc.Services;

<h1>Image Service Service - Picture ConfigAlign</h1>
<p>
  Testing with data of <code>ImageServiceTests</code>
</p>
@functions {
  public ITypedItem GetTestItem(string testId) {
    return AsItems(App.Data["ImageServiceTests"]).FirstOrDefault(i => i.String("TestId") == testId);
  }
}
@{
  var left = GetTestItem("align-left");
  var file = left.File("Image");
  var pic = Kit.Image.Picture(file, factor: 2f/12);
}
<h2>Data</h2>
<ol>
  <li>data.Title: @left.Title</li>
  <li>pic.Alt: @pic.Alt</li>
</ol>

<hr>
<div @pic.Toolbar()>
  Special test - this should have the toolbar of the first picture
</div>
Show Left: 
@pic
<hr>
