@inherits Custom.Hybrid.RazorTyped<object, AppCode.Data.AppSettings, AppCode.Data.AppResources>
@using ToSic.Sxc.Data;
@using AppCode;

<h1>Use Class in AppCode</h1>

<p>
  try to output some values
</p>

<ol>
  <li>
    Settings.SettingForFormulaText: @App.Settings.SettingForFormulaText
  </li>
  <li>
    Resources.SomeLogo: @App.Resources.SomeLogo
  </li>
</ol>