@inherits Custom.Hybrid.RazorTyped
@using System;
@using ThisApp.Code

<h1>With ThisApp Code</h1>
@{
  var secondClass = new SecondClass();
  secondClass.MyProperty = "Hello World2";
  var r = secondClass.Sum(1,2);
}

<p> Message: @secondClass.MyProperty </p>
<p> Suma: @r </p>