@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Services
@using System.IO
@using System.Linq

<div @Edit.TagToolbar(Content)>
  <h1>App To Test Many Features in 2sxc</h1>
  <p>
    This app has an unusual setup because it's focus is to test many features of 2sxc in one app.
  </p>
</div>

