@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Services;
@using ToSic.Razor.Blade;

@{
  // Get all Paths
  string root, fullPath, cshtml, testPath;
  GetCode("./_Layout/HomeHelpers.cs").GetAllPaths(out root, out cshtml, out fullPath, out testPath);
}
@* <div>
  <h3>Debug Paths - comment out when things work; reactivate for dev</h3>
  Root: @root <br>
  FullPath: @fullPath <br>
  @(System.IO.File.Exists(fullPath) ? "File exists" : "File does not exist")
</div> *@


@if (Text.Has(testPath)) {
  <h5>
    Test: 
    @testPath
    @CreateInstance("./_Layout/RazorVersion.cs").RazorWithVersionPicker(this)
  </h5>
}
@Html.Partial(cshtml)

@Html.Partial("_Layout/Tree SubTests.cshtml", new { Path = root, SkipFiles = !Text.Has(testPath) })