@inherits Custom.Hybrid.Razor14

<h1>Edit UI Tests</h1>
<p>
  These are various tests for Edit UI features, spacing, padding, etc.
  <br>
  <br>
  The UI tests use content-types which are in the scope EditUi
</p>

<ul>
  <li>
    Spacing of fields (added 2025-09) - it's in the hidden scope, no link here...
  </li>
</ul>