@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Code;
@using ToSic.Eav.DataSources;

<h1>Demo App showing Custom DataSource</h1>
<p>
  This app has queries using the <a href="https://docs.2sxc.org/net-code/data-sources/custom/tutorial-basic/index.html" target="_blank">
    DataSource Tutorial Basic
  </a>.
<p>
  Select a test from the list below.
</p>
