@inherits Custom.Hybrid.Razor14<dynamic, ServiceKit14>
@using ToSic.Sxc.Services

<div @Edit.TagToolbar(Content)>
  <h1>$2sxc Include in Page Stuff</h1>
  <p>
    These listed views are for testing the Page.Activate Stuff
    
  </p>
</div>