@inherits Custom.Hybrid.RazorTyped
@using System.Linq;

<h1>Dynamic Code - Parameters to Razor</h1>
<p>
  Passing parameters to sub-razor.
</p>
@{
  var itemWithImages = AsItem(App.Data["AdamFields"]);
  
  var folder = itemWithImages.Folder("Image");
  var parameters = new {
    Found = true,
    Message = "Hello",
    Item = MyItem,
    Items = MyItems,
    Dyn = MyItem.Dyn,
    Entity = AsEntity(MyItem),
    AlbumItem = itemWithImages,
    Folder = folder,
    Files = folder.Files,
    Album = folder,
    AlbumFolders = itemWithImages.Folder("Album").Folders,
    AlbumFiles = itemWithImages.Folder("Album").Files,
    AlbumSub1Files = itemWithImages.Folder("Album").Folders.First().Files,
  };
}
@Html.Partial("./_Parameters-Parts/Parameters to Razor.Part DynamicModel.cshtml", parameters)

<hr>

@Html.Partial("./_Parameters-Parts/Parameters to Razor.Part TypedModel.cshtml", parameters)

<hr>
@* for DNN, not working in Oqtane *@
@Html.Partial("./_Parameters-Parts/Parameters to Razor.Part No-Inherits.cshtml", parameters)