@inherits Custom.Hybrid.Razor12
@using ToSic.Sxc.Services

<div @Edit.TagToolbar(Content)>
  <h1>Obsolete Data.Cache</h1>
  @{
    var cache = Data.Cache;
  }
  Note: Cache was accessed - you should see it in insights
</div>