@inherits Custom.Hybrid.Razor12
@* This inherits statement gets you features like App, CmsContext, Data etc. - you can delete this comment *@
@using ToSic.Sxc.Services; @* Make it easier to use https://r.2sxc.org/services *@

<div @Edit.TagToolbar(Content)>
  <h1>Obsolete Data.Cache</h1>
  @{
    var cache = Data.Cache;
  }
  Note: Cache was accessed - you should see it in insights
</div>