@inherits Custom.Hybrid.Razor14<dynamic, ToSic.Sxc.Services.ServiceKit14>
@using ToSic.Sxc.Services;

<div @Edit.TagToolbar(Content)>
  <h1>Obsolete Features</h1>
  <p>
    These listed views are for testing the functionality of obsolete features in 2sxc.
    
  </p>
</div>