@inherits Custom.Hybrid.Razor14
@{
  var page = GetService<ToSic.Sxc.Services.IPageService>();
  page.Activate("jQuery");
  page.Activate("2sxc.JsCore");
  page.Activate("turnOn");
}
<h1>JsonFormatterAttribute with AutoConvertEntity parameter on class only</h1>
<p>class:</p>
<pre>[JsonFormatter(AutoConvertEntity = false)]</pre>
<p>method:</p>
<pre>-</pre>

<h2>1, get single IEntity</h2>
<h3>expected JSON result: single IEntity, camel case.</h3>
<pre id="jsonResult1" turn-on='{ "run": "window.getEntityOnLoad()" }'>...loading...</pre>

<h2>2, get IEntity list</h2>
<h3>expected JSON result: IEntity array, camel case.</h3>
<pre id="jsonResult2" turn-on='{ "run": "window.getEntitiesOnLoad()" }'>...loading...</pre>

<script type="text/javascript">
  // Use an IFFE to ensure the variables are not exposed globaly
  // See https://developer.mozilla.org/en-US/docs/Glossary/IIFE
  (() => {
    function downloadJson(method, id) {
      $2sxc(@CmsContext.Module.Id).webApi
        .get('app/auto/JsonFormatterAttribute/api/Test2/' + method)
        .then(data => {
          console.log(data);
          document.getElementById(id).innerHTML = JSON.stringify(data, null, 2);
        });
    }
    // The init function which should be called
    function getEntityOnLoad() {
      downloadJson('GetEntity', 'jsonResult1')
    }
    function getEntitiesOnLoad() {
      downloadJson('GetEntities', 'jsonResult2')
    }
    // Generate a new object if none exists yet (best practice)
    window.getEntityOnLoad = window.getEntityOnLoad || getEntityOnLoad;
    window.getEntitiesOnLoad = window.getEntitiesOnLoad || getEntitiesOnLoad;
  })();
</script>
