@inherits Custom.Dnn.Razor12

<h1>Api12 POST test (NewtonsoftJson deserialization is possible)</h1>
<p>class:</p>
<pre>-</pre>
<p>Post case insensitive JSON, because JsonFormatterAttribute do not affect inbound JSON deserialization.</p>
<h2>1, post</h2>
<pre id="input1"></pre>
<h3>expected JSON result: "IAmNull": 0</h3>
<pre id="output1" turn-on='{ "run": "window.postTest()" }'>...loading...</pre>

@Html.Partial("__SharedPost.cshtml", new { Method = "Api12Post" })
