@inherits Custom.Hybrid.Razor14

<h1>JsonFormatterAttribute</h1>

<p>class:</p>
<pre>[JsonFormatter]</pre>
<p>method:</p>
<pre>-</pre>

<h2>1, get single IEntity</h2>
<h3>expected JSON result: single EavLightEntity, camel case.</h3>
<pre id="jsonResult1">...loading...</pre>
@Kit.Page.TurnOn("window.downloadJson()", data: new { Controller =  "Api15Att", Method = "GetEntity", Placeholder = "jsonResult1" })

<h2>2, get IEntity list</h2>
<h3>expected JSON result: EavLightEntity array, camel case.</h3>
<pre id="jsonResult2">...loading...</pre>
@Kit.Page.TurnOn("window.downloadJson()", data: new { Controller =  "Api15Att", Method = "GetEntities", Placeholder = "jsonResult2" })

@Html.Partial("__Shared.cshtml")
