@inherits Custom.Hybrid.Razor14

<h1>JsonFormatterAttribute with many parameters on class and method</h1>
<h2>1, get single IEntity</h2>
<p>class:</p>
<pre>[JsonFormatter]</pre>
<p>method:</p>
<pre>-</pre>

<h3>expected JSON result: single EavLightEntity, camel case.</h3>

@Kit.Page.TurnOn("window.getEntityOnLoad()", data: new { Controller =  "Api14Att", Placeholder = "jsonResult1" })

<pre id="jsonResult1" turn-on='{ "run": "window.getEntityOnLoad()", data: "Api14Att" }'>...loading...</pre>

<h2>2, get IEntity list</h2>
<p>class:</p>
<pre>[JsonFormatter]</pre>
<p>method:</p>
<pre>-</pre>

<h3>expected JSON result: EavLightEntity array, camel case.</h3>
<pre id="jsonResult2" turn-on='{ "run": "window.getEntitiesOnLoad()" }'>...loading...</pre>

@Html.Partial("__Shared.cshtml", new { Method = "Api14Att" })
