@inherits Custom.Hybrid.Razor14

<h1>Views Configuration Tests</h1>
<p>
  The files in this folder are not meant to be access directly.
  Instead, you should use some of the links below to cause the matching view to open, and then verify that the view is rendered correctly.
</p>
<p>
  IMPORTANT: create a page in the site pointing to these views. 
</p>

<ul>
  <li>
    View Test Data
  </li>
  <li>
    View Test with Query
  </li>
</ul>