@inherits Custom.Hybrid.Razor14

<h1>Views Configuration Tests</h1>
<p>
  The files in this folder are not meant to be access directly.
  Instead, you should use some of the links below to cause the matching view to open, and then verify that the view is rendered correctly.
</p>

<ul>
  <li>
    <a href='@Link.To(parameters: "viewtest-data-objects=true")'>View Test Data</a>
  </li>
  <li>
    <a href='@Link.To(parameters: "viewtest-data-query=true")'>View Test with Query</a>
  </li>
</ul>