@inherits Custom.Hybrid.RazorTyped

<h1>app.json - Rosyln compiler in razor file</h1>

<p>It should work without statment '@@using AppCode;' in this razor file.</p>

<h2>"roslyn" should be configured in 'app.json'.</h2>
<pre>
  "dotnet":{
    "compiler": "roslyn"
  },
</pre>

@{
    string available = null;
    available ??= "available";
}

<ul>
    <li>Feature 'coalescing assignment' is @available.</li>
</ul>


