@inherits Custom.Hybrid.Razor14

<h1>Base Classes</h1>

This is an overview over the base classes - to verify functionality.-

Todo: STV

- Create special files to test logs, like _Log12.cshtml
- Place APIs in /BaseClasses/api/LogApiController12.cs to test as well