@inherits Custom.Hybrid.Razor12
@using ToSic.Sxc.Services

<div @Edit.TagToolbar(Content)>
  <h1>Custom.Hybrid.Razor12</h1>
  <p>
    This is a Razor12 page. 
    Some example code:
  </p>
  <ol>
    <li>Convert ToInt: @Convert.ToInt("523")</li>
    <li>Kit: @@Kit - not shown, as it would error</li>
  </ol>
</div>