@inherits Custom.Razor14<dynamic, Kit14>
@* This inherits statement gets you features like App, CmsContext, Data etc. - you can delete this comment *@
@using ToSic.Sxc.Services; @* Make it easier to use https://r.2sxc.org/services *@

<div @Edit.TagToolbar(Content)>
  <h1>Custom.Razor14&lt;dynamic, Kit14&gt;</h1>
  <p>
    This is a Razor14 page. 
    Some example code:
  </p>
  <ol>
    <li>Convert ToInt: @Kit.Convert.ToInt("523")</li>
    <li>Kit: @Kit.Page</li>
  </ol>
</div>


