@inherits Custom.Razor14<dynamic, ServiceKit14>
@using ToSic.Sxc.Services;

<h1>Custom.Razor14&lt;dynamic, Kit14&gt;</h1>
<p>
  This is a Razor14 page. 
  Some example code:
</p>
<ol>
  <li>Convert ToInt: @Kit.Convert.ToInt("523")</li>
  <li>Kit: @Kit.Page</li>
</ol>

@{
  var code = CreateInstance("Code14.cs");
}

@code.SayHello()