@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Services;

<h1>Custom.Hybrid.Razor14</h1>
<p>
  This is a Razor14 page. 
  Some example code:
</p>
<ol>
  <li>System.Convert ToInt: @Convert.ToInt32("523")</li>
  <li>Kit.Convert ToInt: @Kit.Convert.ToInt("523")</li>
  <li>Kit: @Kit.Page</li>
</ol>

@{
  var code = CreateInstance("Code14.cs");
}
<h2>Verify Hello from Code14</h2>
@code.SayHello()