@inherits Custom.Hybrid.RazorTyped

<h3>Child</h3>
<ol>
  <li>Own _CodeApiSvc: @_CodeApiSvc.GetHashCode()</li>
  <li>Own Kit: @Kit.GetHashCode()</li>
</ol>

@Html.Partial("./RazorTypedGrandchild.cshtml")