@inherits Custom.Hybrid.Razor14<dynamic, ToSic.Sxc.Services.ServiceKit14>

<h1>Toolbar API ca. v8 with Objects</h1>

<ol>
  <li>
    @Edit.Toolbar(toolbar: new {
            action = "custom",
            customCode = "alert(\"basic custom button\")"
        })
  </li>
</ol>
