@inherits Custom.Dnn.Razor12

<h1>Dnn Razor12 - Dnn Properties</h1>
<p>
  Get all kinds of values.
</p>
<ol>
  <li>
    Dnn object: @Dnn
  </li>
  <li>
    Dnn Module object: @Dnn.Module
  </li>
  <li>
    Dnn Module ID: @Dnn.Module.ModuleID
  </li>
</ol>
