@inherits Custom.Hybrid.RazorTyped
@using AppCode;

<h1>Razor code use DepLibrary1.dll from '/Dependencies' folder</h1>

@{
    var d1 = new DepLibrary1.DepClass();
}

<div>Test @d1.MyProperty</div>

@Html.Partial("./Subfile use Dependencies.cshtml")
