@inherits Custom.Hybrid.Razor14
@using System.Linq;

<h1>Dynamic Code - Parameters to Razor</h1>
<p>
  Passing parameters to sub-razor.
</p>
@{
  var itemWithImages = AsTyped(App.Data["ImageServiceTests"]);
  
  var folder = itemWithImages.Folder("Image");
  var parameters = new {
    Found = true,
    Message = "Hello",
    Item = AsTyped(Data.MyContent),
    Items = AsTypedList(Data.MyContent),
    Dyn = Content,
    Entity = Data.MyContent.First(),
    Folder = itemWithImages.Folder("Image"),
    Files = itemWithImages.Folder("Image").Files,
    Album = itemWithImages.Folder("Image"),
    AlbumFolders = itemWithImages.Folder("Album").Folders,
    AlbumFiles = itemWithImages.Folder("Album").Files,
    AlbumSub1Files = itemWithImages.Folder("Album").Folders.First().Files,
  };
}
@Html.Partial("./Parameters to Razor.Part DynamicModel.cshtml", parameters)


@Html.Partial("./Parameters to Razor.Part Parameters.cshtml", parameters)
