@inherits Custom.Hybrid.Razor14<dynamic, ServiceKit14>
@using ToSic.Sxc.Services;
@using System.IO;
@using System.Linq;
@{
  var helpers = CreateInstance("../Helpers.cs");
  var skipFiles = (DynamicModel.SkipFiles as bool?) ?? false;
  var testPath = CmsContext.Page.Parameters["TestPath"] ?? "";
  var pathParts = testPath.Replace("\\", "/").Split('/');
  var upPath = String.Join("/", pathParts.Take(pathParts.Length - 2).ToArray()) + "/";

}
@functions {
  public string FixSlash(string original) {
    return original.Replace("\\", "/");
  }
}
<hr>
<h3>Test Groups</h3>
@if (pathParts.Length > 1) {
  <a href="?testPath=">Root</a>
}
@if (pathParts.Length > 2) {
  <text> | </text>
  <a href="?testPath=@upPath">Up</a>
}
<ol>
  @foreach (var subFolder in helpers.SubFolderNames(DynamicModel.Path)) {
    <li>
      <a href="?testPath=@FixSlash(subFolder)/">@subFolder</a>
    </li>
  }
</ol>
@if (!skipFiles) {
  <hr>
  <h3>Tests</h3>
  <ol>
    @foreach (var subTest in helpers.FileNames(DynamicModel.Path)) {
      <li>
        <a href="?testPath=@FixSlash(subTest)">@System.IO.Path.GetFileName(subTest).Trim('_')</a>
      </li>
    }
  </ol>
}