@inherits Custom.Hybrid.Razor14

<h1>Edit-UI Fields</h1>
@{
  Func<string, dynamic> MakeToolbar = name => {
    return Kit.Toolbar.Empty().New(name).Fields(name).AsTag();
  };

  Func<string, object, dynamic> MakeToolbarPrefill = (name, prefill) => {
    return Kit.Toolbar.Empty().New(name, prefill: prefill).Fields(name).AsTag();
  };
}
<ol>
  <li>
    Boolean - All combinations @MakeToolbar("FieldsBoolean")
  </li>
  <li>
    Empty / Groups @MakeToolbar("FieldsEmpty")
  </li>
  <li>
    Number (todo)
  </li>
  <li>
    String - WYSIWYG - Various Tests @MakeToolbar("FieldsStringWysiwyg")
  </li>
  <li>
    String - WYSIWYG - @@All Settings @MakeToolbarPrefill("FieldsStringWysiwygAll", new {
      InlinePrefill = "Prefill InlinePrefill",
      DialogPrefill = "Prefill DialogPrefill"
    })
  </li>
  <li>
    String (todo)
  </li>
  <li>
    Hyperlink (todo)
  </li>
</ol>