@inherits Custom.Hybrid.Razor14

<h1>Test Secure Encrypted Form1</h1>

<label for="field1">Field 1:</label>
<textarea id="field1" name="field1" rows="1" style="width:100%">text1</textarea>
<label for="field2">Field 2:</label>
<textarea id="field2" name="field2" rows="1" style="width:100%">text2</textarea>
<br><br>
<button id="button1" name="button1" type="submit">Submit</button>

@Html.Partial("__SharedPost.cshtml")
