@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Code;
@using ToSic.Eav.DataSources;
@using ToSic.Eav.DataSources.Sys;

<h1>Dynamic Code - DataSources</h1>
@{
  var expected = 4;
  var apps = CreateSource<Apps>();
  apps.OfZoneId = 6;
  var vf = CreateSource<ValueFilter>(apps);
  vf.Attribute = "ZoneId";
  vf.Value = "6";
}

<hr>
<h2>Data in source</h2>

List: @vf.List (@vf.List.Count()) - we expect @expected items
<br>
<ol>
  @foreach (var item in AsList(vf.List))
  {
    <li>@item.EntityTitle (@item)</li>
  }
</ol>
