@inherits Custom.Hybrid.Razor14

<h1>Dynamic Code - DataSources</h1>
<p>
  Todo: create various tests to CreateSource&lt;T&gt; with providing <code>options</code>
  <br>
  test - one per file - such as
  <br>
</p>
<ol>
  <li>CreateSource with just the type param</li>
  <li>CreateSource with an upstream source - eg a first source gets a type filter, the next gets an id filter</li>
  <li>CreateSource with options using string array notation to set configuration</li>
  <li>CreateSource with options using anonymous object  notation to set configuration</li></li>
</ol>
