@inherits Custom.Hybrid.Razor14

<h1>Page Service - Activate Fancybox4 - with condition none (not set)</h1>
<p>
  See F12 if stuff is loaded as expected.
  Note that with NONE (condition not set) - it should behave as if it is "true"
</p>

@Kit.Page.Activate(features: "fancybox4")
