@inherits Custom.Hybrid.Razor14
@using System.Linq
@using ToSic.Razor.Blade

@{
  var node = AsDynamic(DynamicModel.Root as object);
  var subNodeName = DynamicModel.SubNodeNames as string;
  var parentField = DynamicModel.ParentField as string;
}
<h3>Show Tree starting at root "@node.EntityTitle" (#@node.EntityId)</h3>
<ul>
  @Html.Partial("./Show Tree Node.cshtml", new { Node = node, SubNodeNames = subNodeName, ParentField = parentField, Depth = 10 })
</ul>
