@inherits Custom.Hybrid.Razor14<dynamic, ToSic.Sxc.Services.ServiceKit14>
@using ToSic.Sxc.Services

<div @Edit.TagToolbar(Content)>
  <h1>$2sxc stuff</h1>
  <p>
    These listed views are for testing the functionality $2sxc stuff.
    
  </p>
</div>