@inherits Custom.Hybrid.Razor12
@using ToSic.Sxc.Services;

<div @Edit.TagToolbar(Content)>
  <h1>Tost2 Features</h1>
  <p>
    These listed views are for testing the functionality of obsolete features in 2sxc.
    
  </p>
</div>