@inherits Custom.Hybrid.RazorPro
@using ToSic.Sxc.Services;

<h1>Warning for Settings</h1>
<p>
  This should show a warning because we're activating an interface that's obsolete and will be removed. 
</p>
@{
  var s = Settings;
  var r = Resources;
}