@inherits Custom.Hybrid.Razor12
@* This inherits statement gets you features like App, CmsContext, Data etc. - you can delete this comment *@
@using ToSic.Sxc.Services; @* Make it easier to use https://r.2sxc.org/services *@

<div @Edit.TagToolbar(Content)>
  <h1>Tost2 Features</h1>
  <p>
    These listed views are for testing the functionality of obsolete features in 2sxc.
    
  </p>
</div>