@inherits Custom.Hybrid.Razor14

<h1>Razor Errors</h1>
<p>
  Review all kinds of errors in Razor and how they are shown to the user.
</p>
<ol>
  <li>AsDynamic, AsList, etc.</li>
  <li>AsAdam</li>
  <li>...</li>
</ol>