@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Code;
@using ToSic.Eav.DataSources;

<h1>App Custom Dynamic DataSources from AppCode</h1>
<h2>using Basic101</h2>

@{
  var expected = 1;
  var ds = Kit.Data.GetSource(name: "Basic101", parameters: new { AmountOfItems = expected, FavoriteNumber = 2724 });
}

@Html.Partial("./../_Helpers/ShowDataInSource.cshtml", new { List = ds.List, Expected = expected })