@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Data;
@functions {
  const string TestCt = "TODO:TestTypeName";
  public ITypedItem GetTestItem(string testId) {
    return AsItems(App.Data[TestCt]).FirstOrDefault(i => i.String("TestId") == testId);
  }
}

<h1>Template for tests</h1>

