@inherits Custom.Hybrid.Razor14
@{
  var page = GetService<ToSic.Sxc.Services.IPageService>();
  page.Activate("2sxc.JsCore");
}
<h1>@DynamicModel.Title</h1>
<p>
  This will run various posts to various API endpoints, to test the JSON serialization and deserialization
  of <em>both</em> the posted message as well as the response.
</p>
<p>class:</p>
<pre>-</pre>

<h2>1, post</h2>
<pre id="input1"></pre>
<h3>expected JSON result: @DynamicModel.Result</h3>
<pre id="output1">...loading...</pre>
@Kit.Page.TurnOn("window.postJson()", data: new { Controller = DynamicModel.Controller })

<script type="text/javascript">
  // Use an IFFE to ensure the variables are not exposed globaly
  // See https://developer.mozilla.org/en-US/docs/Glossary/IIFE
  (() => {
    function postJson(data) {
      var postData = {
        "IAmNull": null
      };
      document.getElementById("input1").innerHTML = JSON.stringify(postData, null, 2);
      $2sxc(@CmsContext.Module.Id).webApi
        .fetchJson('app/auto/WebApi-JsonDeserialization/api/' + data.Controller + '/UpdatePostTest', postData)
        .then(response => {
          console.log(response);
          document.getElementById("output1").innerHTML = JSON.stringify(response, null, 2);
        });
    }
    // Generate on window so it can be called from the html
    window.postJson = postJson;
  })();
</script>
