@inherits Custom.Hybrid.Razor14

<h1>JsonFormatterAttribute default</h1>

<p>class:</p>
<pre>-</pre>
<p>method:</p>
<pre>-</pre>

<h3>Preflight</h3>
<p>
  Test 2025-11-03 2dm access the property Description first to get it...
</p>
@{
  var firstItemAppDescription = AsDynamic(App.Data.List.First());
  var desc = firstItemAppDescription.Description;
}
Description: @desc (id: @firstItemAppDescription.EntityId)

<h2>1, get single IEntity</h2>
<h3>expected JSON result: single EavLightEntity, camel case.</h3>
<pre id="jsonResult1">...loading...</pre>
@Kit.Page.TurnOn("window.downloadJson()", data: new { Controller =  "Api16TypedItem", Method = "GetEntity", Placeholder = "jsonResult1" })

<h2>2, get IEntity list</h2>
<h3>expected JSON result: EavLightEntity array, camel case.</h3>
<pre id="jsonResult2">...loading...</pre>
@Kit.Page.TurnOn("window.downloadJson()", data: new { Controller =  "Api16TypedItem", Method = "GetEntities", Placeholder = "jsonResult2" })

@Html.Partial("__Shared.cshtml")
