@* No inherits! *@
@* for DNN, not working in Oqtane *@
<h2>Dynamic Code - Parameters to Razor using PageData</h2>
<ol>
  <li>Found: @PageData["Found"]</li>
  <li>Not Found: @PageData["Message"]</li>
</ol>