@inherits AppCode.Razor.SomeRazor
@using AppCode

<h1>Warning for AppCode.Razor.SomeRazor razor base class that doesn't inherit correctly</h1>

<p>
   Code Warning when Razor Base Class doesn't inherit correctly
</p>

