@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Services

<h1>Warning for ILogService</h1>
<p>
  This should show a warning because we're activating an interface that's obsolete and will be removed. 
</p>
@{
  var svc = GetService<ILogService>();
}