@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
@using ToSic.Sxc.Services
@using ToSic.Sxc.Services.Internal

<h1>TurnOn Service - internal tests</h1>
<p>
  These tests are internal, as the <code>ITurnOnSrevice</code> is not publicly available.
</p>
@{
  var turnOn = GetService<ITurnOnService>();
}

<p>
  We should see 4 sets of entries in the log. 
  Before...
</p>

<turnOn id="test" @turnOn.Attribute("window.someJsAttr()") ></turnOn>

@Kit.Page.TurnOn("window.someJs()", data: new { someData = "thanks", success = true })

@Kit.Page.TurnOn("window.someJsWithData()", data: new { someData = "thanks", success = true })

@Kit.Page.TurnOn("window.someJsWithRequire5S()", require: "window.seconds5", data: "a nice string")

<script>
  function someJsAttr() {
    console.log('turn-on with attribute worked');
  }

  function someJs() {
    console.log('turn-on with Page.TurnOn(...) worked');
  }

  function someJsWithData(data) {
    console.log("someJsWithData");
    console.log("data", data);
  }
  function someJsWithRequire5S(data) {
    console.log("someJsWithRequire5S");
    console.log("data", data);
  }

  // trigger dependency window.seconds5 after 5000ms
  var ms = 5000;
  console.log("will start timef for " + ms + "ms");
  setTimeout(() => { window.seconds5 = true; console.log("timeout reached"); }, ms);

</script>

<p>
  ...after
</p>