@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Data;
@using ToSic.Sxc.Services;
@functions {
  const string TestCt = "FieldValueWysiwyg";
  public ITypedItem GetTestItem(string testId) {
    return AsItems(App.Data[TestCt]).FirstOrDefault(i => i.String("TestId") == testId);
  }
}

<h1>CmsService</h1>

@{
  var item = GetTestItem("tweak-tests");
  var cms = GetService<ICmsService>();
  var field = item.Field("Contents");
}

<div>
  Field: @field
</div>

<h2>Test with completely replaced data</h2>
<hr>
@cms.Html(field, tweak: tw => tw.Input("Test text \n test text \n test \n test").Input(Tags.Nl2Br))
<hr>

<h2 @Kit.Toolbar.Default(item)>Replace Bars into <code>&lt;br&gt;</code></h2>
<hr>
@cms.Html(field, tweak: tw => tw.Input(v => Tags.Nl2Br(v.Replace("|", "\n"))))
<hr>

