@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using ToSic.Sxc.Data
@using ToSic.Sxc.Services
@functions {
  const string TestCt = "FieldValueWysiwyg";
  public ITypedItem GetTestItem(string testId) {
    return AsItems(App.Data[TestCt]).FirstOrDefault(i => i.String("TestId") == testId);
  }
}

<h1>CmsService</h1>

@{
  var item = GetTestItem("images-rows-25-50-75");
}

<h2 @Kit.Toolbar.Edit(item)>
  Output using Kit.Cms.Html
</h2>
<hr>
@item.Html("Contents")