@inherits ToSic.Sxc.Dnn.RazorComponent

<h1>Dnn RazorComponent - With Code Behind .Code (old)</h1>
<p>
  use the old .Code API
</p>

<div>
  This should show Hello World
  <br>
  @Code.GetTitle()
</div>