@inherits Custom.Hybrid.RazorTyped
@using AppCode

<h1>With AppCode</h1>
@{
  var secondClass = new SecondClass();
  secondClass.MyProperty = "Hello World 2024";
  var r = secondClass.Sum(1,100);
}

<p> Message: @secondClass.MyProperty </p>
<p> Suma: @r </p>