@inherits Custom.Hybrid.Razor14
@using MyApp.Code;

<h1>With App Code</h1>
@{
  var secondClass = new MyApp.Code.SecondClass();
  secondClass.MyProperty = "Hello World";
  var r = secondClass.Sum(1,1);
}

<p> Message: @secondClass.MyProperty </p>
<p> Suma: @r </p>