@inherits Custom.Hybrid.RazorTyped
@using ThisApp.Code

<h1>With App Code</h1>
@{
  var secondClass = new SecondClass();
  secondClass.MyProperty = "Hello World200";
  var r = secondClass.Sum(1,100);
}

<p> Message: @secondClass.MyProperty </p>
<p> Suma: @r </p>