@inherits Custom.Hybrid.RazorTyped

<h1>Code Use Basic</h1>
<p>
  Create code files and review that everything works.
</p>
@{
  var basicHybrid16 = CreateInstance("Code16UseContent.cs");
}

<ol>
  <li>Hello from Basic Hybrid16: @basicHybrid16.SayHello()</li>
</ol>