@inherits Custom.Hybrid.RazorTyped

@Configuration.PartialCache(tweak: c => c.SetSlidingExpiration(seconds: 300).WatchAppData().WatchAppFolder())

@Configuration.PartialCache(sliding: 300, watch: "data,folder")

@DateTime.Now (cached with watchers)

<p>
  Will show the part changing the page title.
  <br>
  <br>
  Refresh many times and verify that the title is still modified.
</p>

@Kit.Page.SetTitle("New Title from cached control")
