@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using ToSic.Sxc.Data
@using ToSic.Sxc.Services
@using AppCode
@{
  dynamic testItem = MyItem;
}

<h1>WrapObjectTyped - String("Title")</h1>

<pre>
testItem = @testItem;
testItem.String("Title") = @testItem.String("Title");
</pre>