@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Data;
@using ToSic.Sxc.Services;
@using AppCode;
@{
  dynamic testItem = AsTyped(new { A = "aaa", B = 1 });
}

<h1>WrapObjectTyped - String("A")</h1>

<pre>
testItem = @testItem;
testItem.String("A") = @testItem.String("A");
</pre>