@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Code;
@using ToSic.Eav.DataSources.Catalog;

<h1>App DataSources</h1>

@{
  var ds = CreateSourceWip("MagicDataSource", configuration: new Dictionary<string, string>() { { "AmountOfItems", "6" } });
}

<hr>
<h2>Data in source</h2>

List: @ds.List (@ds.List.Count()) 
<br>
<ol>
  @foreach (var item in AsList(ds.List))
  {
    <li>@item.EntityTitle (@item.EntityId)</li>
  }
</ol>
