@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Code;
@using ToSic.Eav.DataSources.Catalog;

<h1>App DataSources</h1>

@{
  var path = NormalizePath("MagicDataSource.cs");

  var compiler = GetService<CodeCompiler>();

  var type = compiler.GetTypeOrErrorMessages(path, null, true).Item1;

  var appId = App.AppId;

  var catalog = GetService<DataSourceCatalog>();
  @* catalog.UpdateAppCache(appId, new List<Type> { type }); *@

  var find = catalog.FindType("MagicDataSource", appId);

  var ds = CreateSourceWip("MagicDataSource");
}

Path: @path
<br>
Type: @type
<br>
AppId: @appId

<br>
Found Type: @find

<hr>
<h2>Data in source</h2>

List: @ds.List (@ds.List.Count())
<br>
<ol>
  @foreach (var item in AsList(ds.List))
  {
    <li>@item.EntityTitle (@item.EntityId)</li>
  }
</ol>