@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Code;
@using ToSic.Eav.DataSources;

<h1>App DataSources - using Anonymous Single</h1>

@{
  var expected = 6;
  var ds = Kit.Data.GetSource(name: "AnonymousSingle", parameters: new { AmountOfItems = expected, FavoriteNumber = 99 });
}

@Html.Partial("__ShowDataInSource.cshtml", new { List = ds.List, Expected = expected })