@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Code;
@using ToSic.Eav.DataSources;

<h1>App DataSources</h1>

@{
  var expected = 6;
  var ds = CreateDataSource(name: "MagicDataSource", options: new [] { "AmountOfItems=" + expected, "FavoriteNumber=69" });
  ds = CreateDataSource(name: "MagicDataSource", options: new { AmountOfItems = expected, FavoriteNumber = -42 });
}

@Html.Partial("__ShowDataInSource.cshtml", new { List = ds.List, Expected = expected })