@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Code;
@using ToSic.Eav.DataSources;

<h1>App DataSources - Template Class List</h1>

@{
  var expected = 6;
  var ds = Kit.Data.GetSource(name: "Template", parameters: new { AmountOfItems = expected, FavoriteNumber = -42 });
}

@Html.Partial("./_Helpers/ShowDataInSource.cshtml", new { List = ds.List, Expected = expected })